/* Footer Section Styling */
.footersection {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    
   
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  }
  
.footersection p {
    margin: 0;
    font-size: 14px;
  }
  
.footerlinks {
    margin: 20px 0;
  }
  
.footerlinks a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
  }
  
.footerlinks a:hover {
    color: #ff9800;
  }
  